/** @format */

.action_group {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 0.3rem;
}

.actions {
  padding-top: 1.4rem;
  align-self: flex-end;
  justify-self: flex-end;
}
