/** @format */

.content {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  margin-bottom: 1rem;
  min-width: 37rem;

  padding-left: calc((100vw - 1200px) / 2);
  padding-right: calc((100vw - 1200px) / 2);
}
