/** @format */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_form {
  margin-top: 2rem;
  min-width: 20rem;
}

.actions {
  margin-bottom: 1rem;
}

.actions_buttons {
  display: flex;
  justify-content: space-between;
}

.content_rigth {
  display: grid;
}

.content_right_title {
  color: var(--neutral);
  font-size: 1.875rem;
  font-family: var(--font-family-title);
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 1rem;
}

.content_right_button {
  display: inline-flex;
  padding: 0.6875rem 1.6375rem 0.6375rem 1.125rem;
  align-items: center;
  gap: 1.0625rem;

  border-radius: 20px;
  border: 1px solid var(--success, #32b44f);
  background: var(--success-light, #e7ffec);
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);

  color: var(--primary, #06279b);
  font-size: 0.87625rem;
  font-family: var(--font-family-title);
  font-weight: 800;
  line-height: 150%;

  cursor: pointer;
  margin-bottom: 1rem;
  width: 20rem;
  justify-content: space-between;
}

.content_right_button:hover {
  color: var(--success-light, #e7ffec);
  background: var(--primary, #06279b);
  border: 1px solid var(--primary-light);
}

.content_rigth_form {
  width: 20rem;
  justify-self: flex-end;
}
