/** @format */

:root {
  --primary: #06279b;
  --primary-light: #2540a0;
  --secondary: #cfe2f0;
  --success: #32b44f;
  --neutral: #f5f5f5;
  --tertiary: #171717;
  --tertiary-light: #d2d2d2;
  --success-light: #e7ffec;
  --error-50: #fddddd;
  --error-100: #f1acc9;
  --error-500: #ff4e4e;

  --default-width: 1920px;
  --min-height: 1080px;

  --border-radius: 20px;

  --font-family-title: Montserrat;
  --font-family-text: font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: var(--default-width);
  /* min-height: calc(var(--min-height) + 400px); */
  overflow-x: hidden;
  background-color: var(--primary-light);
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border-spacing: 0;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: var(--tertiary-light);
  color: var(--tertiary);
  border-color: var(--tertiary-light);
  cursor: not-allowed;

  padding: 10px 20px;
  gap: 10px;

  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
}

main{
  min-height: 29.3rem;

  padding-left: calc((100vw - 1200px) / 2);
  padding-right: calc((100vw - 1200px) / 2);
}

